name: 'Dependency Review'
on: [pull_request]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/dependency-review-action@v4
        with:
          config-file: amazon-ospo/dependency-review-config/default/dependency-review-config.yml@main
          # # distlib
          # allow-dependencies-licenses: "pkg:pypi/distlib@0.4.0"
